/* Rewards & Extras Modal */

/* Default Theme */
body {
    background: url('https://img.freepik.com/free-vector/flat-nature-background_1308-20252.jpg') no-repeat center center fixed;
    background-size: cover;
}

body[data-theme="default"] {
    background: url('https://img.freepik.com/free-vector/flat-nature-background_1308-20252.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Day Theme */
body[data-theme="day"] {
    background: url('assets/Backgrounds/background_day_4.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Forest Theme */
body[data-theme="forest"] {
    background: url('assets/Backgrounds/background_day_fore_1.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Evening Theme */
body[data-theme="evening"] {
    background: url('assets/Backgrounds/background_evening_2.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* River Theme */
body[data-theme="river"] {
    background: url('assets/Backgrounds/background_river_5.jpg') no-repeat center center fixed;
    background-size: cover;
}

/* Night Theme */
body[data-theme="night"] {
    background: url('assets/Backgrounds/background_night_3.jpg') no-repeat center center fixed;
    background-size: cover;
}



.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    justify-content: center;
    align-items: center;
    z-index: 1111;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 450px;
}


#evolution-progress {
    height: 32px;
    width: 80%;
}


.close-btn {
    float: right;
    font-size: 24px;
    cursor: pointer;
}

.extras-section {
    margin: 20px 0;
}

.background-btn {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}